<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns= "http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv= "Content-Type" content= "text/html; charset=utf-8" >
<title>div extend</title>
<script type= "text/javascript" >
var mh = 30; //高度
var step = 1; //每次变化的量
var ms = 10; //循环时间
function toggle(o){
  if (!o.tid)o.tid = "_" + Math.random() * 100;
  if (!window.toggler)window.toggler = {};
  if (!window.toggler[o.tid]){
  window.toggler[o.tid]={
   obj:o,
   maxHeight:o.offsetHeight,
   minHeight:mh,
   timer: null ,
   action:1
  };
  }
  o.style.height = o.offsetHeight + "px" ;
  if (window.toggler[o.tid].timer)clearTimeout(window.toggler[o.tid].timer);
  window.toggler[o.tid].action *= -1;
  window.toggler[o.tid].timer = setTimeout( "anim('" +o.tid+ "')" ,ms );
}
function anim(id){
  var t = window.toggler[id];
  var o = window.toggler[id].obj;
  if (t.action < 0){
  if (o.offsetHeight <= t.minHeight){
   clearTimeout(t.timer);
   return ;
  }
  }
  else {
  if (o.offsetHeight >= t.maxHeight){
   clearTimeout(t.timer);
   return ;
  }
  }
  o.style.height = (parseInt(o.style.height, 10) + t.action * step) + "px" ;
  window.toggler[id].timer = setTimeout( "anim('" +id+ "')" ,ms );
} 


function addoption(){
	document.getElementById("mopt1").style.display="block"
	document.getElementById("another").style.display="block"
 	document.getElementById("firstone").style.display="none"
	
	}
	function showanpther(){
		
		document.getElementById("mopt2").style.display="block"
		document.getElementById("another").style.display="none"
		
		}

function showadd(value1,value2){
	
	alert("123");
	var add =document.getElementById(value1).value
	alert("223");
	
	document.getElementById(value2).innerHTML+=add+"\n"
	alert("323");
	
	document.getElementById(value1).value=""
	alert("423");
	
	
	}
function showlist(value){
	
	if (value==1){
		
		document.getElementById("elist1").style.display="block"
		
		}
	else if(value==2){
		document.getElementById("elist1").style.display="block"
		document.getElementById("elist2").style.display="block"
		
		}
		else if(value==3){
			document.getElementById("elist1").style.display="block"
		document.getElementById("elist2").style.display="block"
		
		document.getElementById("elist3").style.display="block"
		}
		else if(value==4){
		document.getElementById("elist1").style.display="block"
		document.getElementById("elist2").style.display="block"
		document.getElementById("elist3").style.display="block"
		document.getElementById("elist4").style.display="block"
		
		}
	
	
	}	
    





</script>
<style type= "text/css" >
div.xx{
  border:solid 1px;overflow:hidden;
} div.xx h5{
  border:solid 1px;border-width:0 0 1px;
  padding:0;margin:0;height:28px;
  line-height:30px;cursor:pointer;
  background: #eee;
} </style> </head> <body>
 ADD A MAJOR PROFILE<br><br><br>
 

<div id="core">
please add core course
<br>
<input type="text" id="info" value="">
<input type="button" value="add" onclick="showadd('info','ear')">
<div id="showCore">
the course you input will show as below:<br>
<textarea id="ear"></textarea>   
</div>

</div>
<br>
<div id="clective list"> 
how many list you wanna to create? 
<p id="clv">
  <label>
    <input type="radio" name="RadioGroup1" value="1" id="RadioGroup1_0" checked >
    1</label>
  
  <label>
    <input type="radio" name="RadioGroup1" value="2" id="RadioGroup1_1"  onclick="showlist(2)">
    2</label>
  <label>
    <input type="radio" name="RadioGroup1" value="3" id="RadioGroup1_2"  onclick="showlist(3)">
    3</label>
     <label>
    <input type="radio" name="RadioGroup1" value="4" id="RadioGroup1_3"  onclick="showlist(4)">
    4</label>
    
</p>
</div>
<div id="elist1" >
pleast add course for list1<br>
<input type="text" id="l1info" value="">
<input type="button" value="add" onclick="showadd(l1info,l1ear)"><br>
the course you input will show as below:<br>
<br><textarea id="l1ear"></textarea>


</div>
<div id="elist2"  style="display:none">
pleast add course for list2<br>
<input type="text" id="l2info" value="">
<input type="button" value="add" onclick="showadd(l2info,l2ear)"><br>
the course you input will show as below:<br>
<br><textarea id="l2ear"></textarea>
</div>
<div id="elist3"  style="display:none">
pleast add course for list3<br>
<input type="text" id="l3info" value="">
<input type="button" value="add" onclick="showadd(l3info,l3ear)"><br>
the course you input will show as below:<br>
<br><textarea id="l3ear"></textarea></div>
<div id="elist4"  style="display:none">
pleast add course for list4<br>
<input type="text" id="l4info" value="">
<input type="button" value="add" onclick="showadd(l4info,l4ear)"><br>
the course you input will show as below:<br>
<br><textarea id="l4ear"></textarea></div>





<br>
<br>

<div id="optionarea">
<input type="button" id="firstone" value="add more option?" onclick="addoption()">
<input type="button" id="another" value="another one?" onclick="showanpther()" style="display:none">
<div class= "xx" id="xx"><h5 onclick= "toggle(this.parentNode)" >click to hide</h5>
<p id="optipnp">
<div>
please choose
<input type="text">
  <select name="select" id="select_k1" class="xla_k">
    <option value="1">courses</option>
<option value="2">credits</option>
    </select>
    in  <select name="select" id="select_k2" class="xla_k">
    <option value="1">list1</option>
<option value="2">list2</option>
    </select><br>
    required credits:<input type="text">
    
    
 
</div>





</p> </div> 

<div class= "xx" id="xxx"><h5 onclick= "toggle(this.parentNode)" >click to hide</h5>
<p id="optipop">
<div>
please choose
<input type="text">
  <select name="select" id="select_k3" >
    <option value="1">courses</option>
<option value="2">credits</option>
    </select>
    in  <select name="select" id="select_k4" >
    <option value="1">list1</option>
<option value="2">list2</option>
    </select><br>
    required credits:<input type="text">
    
    
 
</div>





</p> </div> 
<div id="mopt1" style="display:none">
<div class= "xx" id="xxxx"><h5 onclick= "toggle(this.parentNode)" >click to hide</h5>
<p id="optipop1">
<div>
please choose
<input type="text">
  <select name="select" id="select_k31" >
    <option value="1">courses</option>
<option value="2">credits</option>
    </select>
    in  <select name="select" id="select_k41" >
    <option value="1">list1</option>
<option value="2">list2</option>
    </select><br>
    required credits:<input type="text">
    
    
 
</div>





</p> </div> </div>
<div id="mopt2" style="display:none">
<div class= "xx" id="xxxxx"><h5 onclick= "toggle(this.parentNode)" >click to hide</h5>
<p id="optipop2">
<div>
please choose
<input type="text">
  <select name="select" id="select_k32" >
    <option value="1">courses</option>
<option value="2">credits</option>
    </select>
    in  <select name="select" id="select_k42" >
    <option value="1">list1</option>
<option value="2">list2</option>
    </select><br>
    required credits:<input type="text">
    
    
 
</div>





</p> </div> </div>


</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<input type="button" value="submit" >
<input type="reset" value="clear">











<div name="profview">
<div name="required" style="width:200px; height:200px; position:absolute; top:50px ;left:400px ">
major prof preview <br><br>
core course:
<textarea id="viewprof"></textarea>
elective course:
<textarea id="viewprof2"></textarea>

</div>











</div>

















</body> </html>